@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

html, body {
    font-family: 'Noto Sans HK', sans-serif;
    margin: 0;
}

h2 {
    font-size: 1.25em;
}

#main {
    margin-top: 35px;
    text-align: center;
    background-color: #eee;
}

span { 
    display: block;
}

#title {
    padding-top: 20px;
}

#img-div {
    border-radius: 10px;
    background-color: #fff;
    width: 700px;
    margin: 1.5em auto;
    padding: 1em;
}

img {
    display: block;
}

#img-caption {
    margin-top: 1em;
}

ul {
    max-width: 600px;
    text-align: left;
    margin: auto;
}

#intro {
    margin-top: 1.5em;
}

li {
    margin: 0.5em;
}

blockquote {
    font-style: italic;
}

#author {
    font-style: normal;
}

#more-info {
    font-size: 1.25em;
    font-weight: bold;
}